/* write your override styles here */
#wall .tag-1 {
    display: none;
    top: 0;
    left: 0;
    width: 980px;
    height: 622px;
    
}

#wall #tag-2 {
    display: none;
    top: 0;
    left: 0;
    width: 980px;
    height: 622px;
}

#wall .slick-wicked {
    display: none;
    top: 0;
    left: 0;
    width: 980px;
    height: 622px;
}

